/* styles */

li.product {
    position: relative !important;
}

.dd_add_to_wishlist_btn {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
}

.dd_add_to_wishlist_btn.added svg {
    fill: #ff6161;
    stroke: #ff6161;
}

.dd_add_to_wishlist_btn:focus {
    outline: none !important;
    user-select: none;
}

.dd_add_to_wishlist_btn:hover {
    background: transparent !important;
}

.dd_add_to_wishlist_btn:hover svg {
    fill: #ff6161;
    stroke: #ff6161;
}